/*---------------------------------------
#Header
--------------------------------------------*/
.header{
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    background: rgb(115, 107, 107);
}

.header.sticked{
    height: 70px;
}

.header.logo imag{
    max-height: 40px;
    margin-right: 6px;
}

.header.logo h1{
    font-size: 30px;
    font-weight: 700;
    color: var(--color-default);
    font-family: var(--font-primary);
}

.header a h1{
    font-size: 24px;
    color: black;   
}